<footer class="bg-dark text-light py-4 mt-5" style="background: linear-gradient(to top, #000428, #004e92);">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2025 Interstella Project. All rights reserved. Lead: Jerry Zhang.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="https://github.com/people-art/interstella" class="text-light mr-3">GitHub</a>
        <a href="https://x.com/AronCapital" class="text-light">X (Twitter)</a>
      </div>
    </div>
  </div>
</footer>
