<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background: linear-gradient(to bottom, #000428, #004e92); border-bottom: 2px solid #00d4ff;">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-family: 'Orbitron', sans-serif; font-size: 1.5rem; color: #00d4ff;">Interstella</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/research.html">Research</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/demos.html">Demonstrations</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/paper.html">Paper</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </div>
  </div>
</nav>
